# Vivado temporary and log files
*.log
*.jou
*.str
.Xil/
*.pb
*.dir/
*.xpr
UART.xpr
# Vivado project specific generated directories
/UART.cache/
/UART.hw/
/UART.ip_user_files/
/UART.sim/
/UART.runs/
/UART.srcs/
# bitstreams or hardware exports later
*.bit
*.bin
*.xsa

# OS specific files
Thumbs.db
.DS_Store